{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "semi": true,
  "requirePragma": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.svg"],
      "options": {
        "parser": "html"
      }
    },
    {
      "files": ["*.less"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
