title ryankoval.com
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='/animate-css/source/_base.css')
link(rel='stylesheet', href='/animate-css/source/flippers/flipInX.css')
link(rel='stylesheet', href='/animate-css/source/fading_entrances/fadeInUp.css')
block headcss

script(src='/jquery/dist/jquery.min.js')
script(src='/js/load-wow.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')

- if(!isDev)
  script(src='/js/ga/ga.js')
  script(src='/js/ga/track-outbound-clicks.js')

block headjs
