title ryankoval.com
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='/animate-css/animate.min.css')
block headcss

//script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='/WOW/dist/wow.min.js')
script.
  new WOW().init();
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')

- if(!isDev)
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-64912146-1', 'auto');
    ga('send', 'pageview');

  script.
    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {'hitCallback': function () { document.location = url; } });
    };
    // dynamically append function to links with href
    $(document).ready(function() {
      var hrefLinks = $('a.tracked');
      console.log(hrefLinks);
      hrefLinks.each(function() {
        $(this).attr('onclick', 'trackOutboundLink("' + this.href + '"); return false;');
      });
    });

block headjs
