title ryankoval.com
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='/animate-css/animate.min.css')
//script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='/WOW/dist/wow.min.js')
script.
  new WOW().init();
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
block head