doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/main.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    block head
  body
    #wrap
      header
        .container header

      .container
        block content

      footer.footer
        .container
              a(href='http://ryankoval.com').subtle-header ryankoval.com
