if PRODUCTION
  script(defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d74723ffc0a94df895824c092b3db8d1"}')
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-64912146-1")
