doctype html
html
  head
    include head

  mixin socialMedia()
    li
      a(title='GitHub' href='https://github.com/rkoval', target='_blank').social
        span !{icons.faGithub}
        span.title GitHub
    li
      a(title='LinkedIn' href='https://www.linkedin.com/pub/ryan-koval/34/44a/459', target='_blank').social
        span !{icons.faLinkedin}
        span.title LinkedIn
    li
      - var mailto = '&#109;&#65;&#73;&#76;&#84;&#111;&#58;&#114;&#121;&#97;&#110;&#64;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#37;&#50;&#48;&#73;&#110;&#113;&#117;&#105;&#114;&#121;'
      a(title='Email me!' href!=mailto, target='_blank').social
        span !{icons.faEnvelope}
        span.title Email
    li
      a(title='Formal Resume' href='//resume.ryankoval.com', target='_blank').social
        span !{icons.faFilePdf}
        span.title Formal Resume

  body(data-spy='scroll' data-target='#bs-navbar' data-offset='0')
    #wrap
      header.header.navbar-static-top.bs-docs-nav.navbar-fixed-top
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-navbar', aria-controls='bs-navbar', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#') ryankoval.com
          nav#bs-navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#skills') Skills
              li
                a(href='#current') Current Job
              li
                a(href='#past') Past Work
              li
                a(href='#education') Education
            ul.nav.navbar-nav.navbar-right
              +socialMedia()

      block content

      footer.footer
        div
          a(href='#').subtle-header ryankoval.com
        div
          ul
            +socialMedia()

